
p{
    color: rgb(240, 248, 255);
    font-family: BlinkMacSystemFont;
    font-size: 300%;
    text-align: center;

}
h2{ color: aliceblue;
    font-family: cursive;
    font-size: 200%;
    text-align: center;
}

h1{
    color: aliceblue;
    font-family: cursive;
    font-size:500%;
    text-align: center;
    content: normal;
    
}
table{
    background-color: aliceblue;
    font-family: cursive;
    font-size: 50%;
    border-radius: 10%;
    
}

hr {
color: aliceblue;
size: 50px;

}
button{
    background-color: palegoldenrod;
    font-family: cursive;
    color: aliceblue;
    width: 200px;
    height: 50px;
    align-self: center;
}
img {
    border-radius: 10%;
    width: 200px;
    height: 200px;
}
div{
    width: 20%;
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    font-size: 50%;
    

}
.img{
    width: 300px;
    height: 300px;
    border-radius: 10%;
}

div{

    background-color:paleturquoise ;
    width: 50%;
    float:none;
    color: aliceblue;
}
.pagina4{
    border-radius: 5%;
    background-color:aliceblue;
    text-align: center;
    color: palegoldenrod;
    font-family: cursive;
    font-size: 100%;
}

.pagina2 {
    border-radius: 10%;
    background-color:aliceblue;
    text-align: center;
    color: powderblue;
    font-family: cursive;
    font-size: 100%;
}
.pagina3{
    border-radius: 10%;
    background-color:aliceblue;
    text-align: center;
    color: rgb(230, 176, 196);
    font-family: cursive;
    font-size: 100%;
}
ul{
    
    font-family: cursive;
    font-size: 100%;
    text-align: center;
    text-decoration: aliceblue;
    text-decoration: solid aliceblue;
}

